@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #f8fafc;
  color: #18181b;
  font-family: Arial, Helvetica, sans-serif;
}
